.navigation {
    margin-bottom: -20px;
}
.logo{
    height: 50px;
    /*margin-left: 50%;*/
}
.nav_font{
    margin-left: 1%;
    margin-top: 14px;
    font-size: 15px;

}
.nav_index{
    color: #ff9900;
}

.nav_about{
    margin-left: 5%;
    color: #6699ff;
}

.input_city{
    text-align:center;
}